.menu {
  color: $font-color-main;
  font-family: $brand-font;

  &--vertical {
    background-color: $side-navigation-background;
    transition: 0.2s;

  }

  &--horizontal {
    background-color: $top-navigation-background;
    border-bottom: $top-navigation-border;
  }

  &--mobile {
    display: none;
  }


  &--show {
    width: 50px;
  }

  &__list {
    padding: 0;
    margin: 0;

    &--mobile {
      display: none;
    }

    &--show {
      display: block;
    }

    &--horizontal {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      border-left: $top-navigation-border;
    }
  }

  &__item {
    list-style: none;
    position: relative;
    height: 40px;

    &--display {
      display: none;
    }

    &--hover {
      box-sizing: border-box;

      &:hover {
        background: $button-hover;
        border-left: 3px solid $button-color;

        .menu__link--white {
          color: white;
        }

        .menu__image--white {
          filter: invert(96%) sepia(32%) saturate(241%) hue-rotate(347deg) brightness(115%) contrast(91%);
        }
      }
    }

    &--green {
      &::after {
        background-color: $notification-online-color;
        @include notification-dot;
      }
    }

    &--orange {
      &::after {
        background-color: $notification-color;
        @include notification-dot;
        top: 7px;
        left: 20px;
      }
    }

    &--border {
      border-left: $top-navigation-border;
    }

    &--wide {
      width: 200px;
    }
  }

  &__link {
    line-height: 40px;
    text-decoration: none;
    color: $font-color-main;
    padding-left: 40px;
    display: block;
    height: 40px;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 0;
    transform: translate(0, -50%);
    z-index: 1;
    line-height: 40px;

    &--big {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &--center {
      @include center-object;
    }

    &--right {
      right: 5%;
      left: auto;
    }

    &--filter {
      @include svg-image;
    }

    &--active {
      margin: 0 auto;

    }

  }

  &__text {
    &--show {
      display: none;
    }
  }

  &__title {
    &--show {
      display: none;
    }
  }

  &__messenger {
    &--show {
      border-top: 1px solid $font-color-main;
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    &--horizontal {
      display: none;
    }

    &--vertical {
      display: none;
    }

    &--mobile {
      background-color: $side-navigation-background;
      display: block;
    }

    &__image {
      &--active {
        margin: 0;
      }
    }


    &__item {
      list-style: none;
      position: relative;
      height: 40px;

      &--display {
        display: block;
      }
    }

    &__image {
      &--right {
        display: none;
      }
    }
  }

  &__text {
    display: block;
  }
}


// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }