.menu {
  color: $font-color-main;
  font-family: $brand-font;

  &--vertical {
    background-color: $side-navigation-background;
    transition: 0.2s;

  }

  &--horizontal {
    background-color: $top-navigation-background;
    border-bottom: $top-navigation-border;
  }

      
  &--show {
    width: 50px;
  }

  &__list {
    padding: 0;
    margin: 0;

    &--horizontal {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      border-left: $top-navigation-border;
    }
  }

  &__item {
    list-style: none;
    position: relative;
    height: 40px;

    &--hover {
      box-sizing: border-box;

      &:hover {
        background: $button-hover;
        border-left: 3px solid $button-color;

        .menu__link--white {
          color: white;
        }

        .menu__image--white {
          filter: invert(96%) sepia(32%) saturate(241%) hue-rotate(347deg) brightness(115%) contrast(91%);
        }
      }
    }

    &--green {
      &::after {
        background-color: $notification-online-color;
        @include notification-dot;
      }
    }

    &--orange {
      &::after {
        background-color: $notification-color;
        @include notification-dot;
        top: 7px;
        left: 20px;
      }
    }

    &--border {
      border-left: $top-navigation-border;
    }

    &--wide {
      width: 200px;
    }
  }

  &__link {
    line-height: 40px;
    text-decoration: none;
    color: $font-color-main;
    padding-left: 40px;
    display: block;
    height: 40px;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 1;
    line-height: 40px;

    &--big {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &--center {
      @include center-object;
    }

    &--right {
      right: 5%;
      left: auto;
    }

    &--filter {
      @include svg-image;
    }

    &--active {
      margin: 0 auto;
      
    }

  }
  &__text {
    &--show {
      display: none;
    }
  }
  &__title {
    &--show {
      display: none;
    }
  }

&__messenger {
  &--show {
    border-top: 1px solid $font-color-main;
  }
}
}