
.section {
  color: $font-color-main;
  font-family: $brand-font;
  background-color: $top-navigation-background;
  width: 95%;
  margin: 2% auto;
  box-shadow: $section-border;

  &__title-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__title {
    margin: 20px;
  }

  &__div-wrapper {
    &--border {
      border-bottom: $top-navigation-border;
    }
  }

  &__div-wrapper--relative {
    position: relative;
  }

  &__calendar-wrapper {
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    border: $top-navigation-border;
  }

  &__datepicker {
    border: none;
  }

  &__statistic-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__header {
    margin: auto 0;
  }

  &__chart {
    width: 80%;
    background-image: url('/images/chart.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
  }

  &__bars {
    max-width: 10%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 0 auto;
  }
}

td {
  width: 9%;
}

td img {
  width: 10px;
  height: 100%;
}