.section {
  color: $font-color-main;
  font-family: $brand-font;
  background-color: $top-navigation-background;
  width: 95%;
  margin: 2% auto;
  box-shadow: $section-border;
  display: none;

  &--active {
    display: block;
  }

  //Title

  &__title-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__title {
    margin: 20px;
  }

  &__div-wrapper {
    &--border {
      border-bottom: $top-navigation-border;
    }

    &--relative {
      position: relative;
    }

    &--hover {
      &:hover {
        background: $link-hover;

        .section__image {
          display: inline;
        }
      }
    }
  }

  //chart {
  &__chart-wrapper {
    width: 500px;
    height: 350px;
    margin: 0 auto;
  }

  //Statistic

  &__statistic-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__header {
    margin: auto 0;
  }

  &__subtitle {
    margin: 0;
    padding-left: 10px;
  }

  &__subtitle-wrapper {
    flex-basis: 45%;
  }

  &__link {
    margin: 0;
    flex-basis: 45%;
  }

  &__image {
    @include svg-image;
    padding-right: 10px;
    display: none;

    &:hover {
      filter: invert(76%) sepia(82%) saturate(4508%) hue-rotate(348deg) brightness(101%) contrast(92%);
    }
  }
}

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .section {
    &__subtitle-wrapper {
      flex-basis: 30%;
    }

    &__link {
      flex-basis: 60%;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__hyperlink {
      font-size: 14px;
    }

    &__image {
      width: 10px;
      height: 10px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .section {
    &__div-wrapper {
      padding: 15px 0;
    }

    &__subtitle-wrapper {
      flex-basis: 28%;
    }

    &__subtitle {
      font-size: 10px;
      line-height: 18px;
    }

    &__hyperlink {
      font-size: 10px;
    }

    &__image {
      width: 10px;
      height: 10px;
      padding: 0 0 0 5px;
    }

    &__chart-wrapper {
      width: 300px;
      height: 210px;
      margin: 0 auto;
    }
  }
}
