.section {
  color: $font-color-main;
  font-family: $brand-font;
  background-color: $top-navigation-background;
  width: 95%;
  margin: 2% auto;
  box-shadow: $section-border;

  &__title-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__title {
    margin: 20px;
  }

  &__div-wrapper {
    &--border {
      border-bottom: $top-navigation-border;
    }

    &--relative {
      position: relative;

    }

    &--hover {
      &:hover {
        background: $link-hover;

        .section__image {
          display: inline;
        }
      }
    }
  }

  &__calendar-wrapper {
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    border: $top-navigation-border;
  }

  &__datepicker {
    border: none;
  }

  &__statistic-wrapper {
    border-bottom: $top-navigation-border;
  }

  &__header {
    margin: auto 0;
  }

  &__subtitle {
    margin: 0;
    padding-left: 10px;
  }

  &__subtitle-wrapper {
    flex-basis: 45%;
  }


  &__link {
    margin: 0;
    flex-basis: 45%;
  }

  &__image {
    @include svg-image;
    padding-right: 10px;
    display: none;

    &:hover {
      filter: invert(76%) sepia(82%) saturate(4508%) hue-rotate(348deg) brightness(101%) contrast(92%);
    }
  }

}

td {
  width: 9%;
}

td img {
  width: 10px;
  height: 100%;
}

