.button {
  box-sizing: border-box;
  width: 100px;
  height: 36px;
  display: block;
  background-color: $button-color;
  border-radius: 5px;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  color: $font-color-third;
  transition: 0.3s;
  border: 1px solid transparent;

  &:hover {
    background-color: $button-hover;
    color: $font-color-fourth;
    border: 1px solid $font-color-fourth;
  }

  &--small {
    width: 36px;
  }

  &__image {
    @include svg-image;
    @include center-object;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  &--grey {
    background-color: $button-color-second;
    text-align: end;
    color: $font-color-main;
    width: 90px;
    padding-right: 10px;
  }

  &--blue {
    &:after {
      @include main-btn-dot;
      background-color: $dot-color-first;
    }
  }

  &--green {
    &:after {
      @include main-btn-dot;
      background-color: $dot-color-second;
    }
  }

  &--orange {
    width: 60px;

    &:after {
      @include main-btn-dot;
      background-color: $dot-color-third;
    }
  }

  &--close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
  }

  &__overlay {
    padding: 0;
    cursor: pointer;

    &--grey {
      background: $button-color-third;

      &:hover {
        color: $font-color-main;
        border: 1px solid $button-color-third;
      }
    }

    &--cross {
      color: $font-color-main;
      background: none;
      margin: auto;
      width: 10px;
      cursor: pointer;

      &:hover {
        border: 1px solid transparent;
      }
    }
  }
}

.button {
  &:hover {
    .button__image {
      filter: $button-image-hover;
    }
  }
}