.logo {
  display: flex;
  justify-content: space-around;

  &__name {
    font-family: $navigation-font;
    color: $font-color-second;
    padding-left: 10px;
    margin: 0;

    &--show {
      display: none;
    }
  }

  // &--mobile {
  //   justify-content: flex-start;
  //   background-color: $side-navigation-background;
  //   display: none;
  // }

  &__hamburger {
    height: 100%;
    margin: auto auto;
    text-align: end;
    cursor: pointer;
    line-height: 40px;
  }

  &__icon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 1024px) {
  .logo {
    &--mobile {
      display: flex;
    }
  }
}