h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;

}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #979797;
}

p {
    color: #979797;
}

a {
    text-decoration: none;
    color: #979797;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
}

ol,
ul {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    color: #979797;
    width: 180px;
    padding: 0;

    li {
        list-style: none;
        position: relative;
        height: 40px;
        border: 3px solid transparent;

        a {
            line-height: 40px;
            color: #979797;
            padding-left: 40px;
            display: block;
            height: 40px;
        }
    }

    .horizontal {
        background: #fff;
        border: 1px solid #E8E8E8;

        a {
            width: 100px;
        }
    }

    .vertical {
        &:hover {
            background: #282828;
            border-left: 3px solid #F58220;

            a {
                color: #fff;
            }
        }
    }
}

button {
    box-sizing: border-box;
    width: 100px;
    height: 38px;
    display: block;
    background-color: #F58220;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    border: 1px solid transparent;

    &:hover {
        background-color: #fff;
        color: #F58220;
        border: 1px solid #F58220;
    }
}

.button-small {
    width: 36px;
}

.button-grey {
    background: #979797;

    &:hover {
        color: #979797;
        border: 1px solid #979797;
    }
}